.column {
  float: left;
  width: 28%;
  padding: 0 10px;
}

.column h3 {
    min-height: 3em;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
