html {
    scroll-behavior:smooth;
}
body {
    max-width: 1000px;
    --color-1: #5e17eb;
    --color-2: #e63462;
    --color-3: #edb6a3;
}


#sidebar {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

h1 {
    font-family: 'Sanchez', serif;
    color: var(--color-1, black);
    text-decoration: underline   var(--color-3);
}

h2 {
    font-family: 'Spartan', serif;
}

h3 {
    font-family: 'Sanchez', serif;
}

h4 {
    font-family: 'Spartan', serif;
}

